<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PedraMax</title>
    <link rel="stylesheet" href="../layouts/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../layouts/style.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="logo col-md-4 mt-2">
                    <h2>Pedra<span>Max</span></h2>
                </div>
                <div class="col-md-8 mt-2">
                    <ul id="menu" class="float-md-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#quemSomos">Quem Somos</a></li>
                        <li><a href="#produtos">Produtos</a></li>
                        <li><a href="#portifolio">Portifólio</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="row conheca justify-content-center">
                <div class="col-md-3   col-lg-3   col-sm-3"><i class="bi bi-award"></i></div>
                <div class="conheca-texto  col-md-9   col-lg-7  col-sm-7">
                    <p>Somos especialista em granito, mármore e pedras decorativas em geral. Conheça nossos produtos!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="quemSomos" class="section">
        <div class="container">
            <div class="row">
                <div class="quemSomosImg col-md-4  col-lg-4  col-sm-4">
                    
                </div>
                <div class="quemSomosTxt col-md-8  col-lg-8  col-sm-8">
                    <h2>PedraMax</h2>
                    <p>Fundada em 2002, nossa empresa virou conceito em design em todo estado do Ceará.
                        Hoje temos filiais em 7 cidades, sendo nossa sede em Fortaleza. Nossos serviços
                        vão desde a venda de granitos e mármores, até design de interiores e demandas sob
                        medida.<br>
                        Venha nos conhecer!<br>
                        Ficaremos felizes com sua visita.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="produtos" class="section">
        <div class="container">
            <div class="produtos-titulo  row   justify-content-center">
                <h2>Nossos <span>Produtos</span></h2>
            </div>
            <div class="row">
                <div class="produtos-card  col-md-4 mt-2 py-2 text-center">
                    <h4>Granito</h4>
                    <img src="../layouts/images/granito.jpg" alt="granito">
                </div>
                <div class="produtos-card col-md-4 mt-2 py-2 text-center">
                    <h4>Mármore</h4>
                    <img src="../layouts/images/bancada-de-granito-branco.jpg" alt="marmore">
                </div>
                <div class="produtos-card col-md-4 mt-2 py-2 text-center">
                    <h4>Pedras decorativas</h4>
                    <img src="../layouts/images/pedra-de-granito-para-pia_11172_72370_1547746169335_cover.jpg" alt="granito-rosa">
                </div> 
            </div>
        </div>
    </div>
    <div id="portifolio" class="section">
        <div class="container">
            <div class="portifolio-titulo  row  justify-content-center">
                <h2>Portifólio</h2>
            </div>
            <div class="row  justify-content-between">
                <div class="portifolio-container col-md-6">
                    <div class="portifolio-card row">
                        <i class="bi bi-briefcase-fill col-md-1 col-sm-1"></i>
                        <h4 class="col-md-11    col-sm-8">Parede sala em granito</h4>
                    </div>
                    <img src="../layouts/images/Guidoni_Amarone.jpg" alt="">
                </div>
                <div class="portifolio-container col-md-6">
                    <div class="portifolio-card row">
                        <i class="bi bi-briefcase-fill col-md-1 col-sm-1"></i>
                        <h4 class="col-md-11 col-sm-8">Parede cozinha em granito</h4>
                    </div>
                    <img src="../layouts/images/36c542426cec276c05a2e5162d6be539.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="contato" class="section">
        <div class="container">
            <div class="contato-titulo   text-center">
                <h2>Entre em contato conosco!</h2>
                <p>Seu contato é muito importante. Mande suas dúvidas ou feedback abaixo:</p>
            </div>
                {{{body}}}
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="rede col-md-4 text-center">
                    <div class="rede-titulo">
                        <h1>Confira nossas redes</h1>
                    </div>
                    <ul>
                        <li><a href="#"><i class="bi bi-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i>Instagram</a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i>Twitter</a></li>
                    </ul>
                </div>
                <div class="localizacao col-md-4 text-center">
                    <div class="rede-titulo">
                        <h1>Venha nos conhecer</h1>
                    </div>
                    <p>Rua dos Brasileiros, Nº 1000<br>Brasil 1-CE<br>CEP: 60.000-000</p>
                </div>
                <div class="localizacao col-md-4 text-center">
                    <div class="rede-titulo">
                        <h1>Contato</h1>
                    </div>
                    <p>(85)99999-0000</p>
                    <p>pedramax@brasil.com.br</p>
                </div>
            </div>
        </div>
        <div class="rodape">
                <div class="col text-center">
                    2021 - &copy PedraMax<br>
                    Todos os direitos reservados
                </div>
            </div>
    </div>

    <!-- SCRIPTS -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
    
</body>
</html>